<!DOCTYPE html>
<html>
  <head>
    <title>Регистрация</title>
  </head>
  <body>
  <div align="center">
    <h1>Регистрация</h1>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.hidden_tag() }}
      <p>
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32) }}
      </p>
      <p>
        {{ form.last_name.label }}<br>
        {{ form.last_name(size=32) }}
      </p>
      <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}
      </p>
      <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </div>

  </body>
</html>
