{% extends "base.html" %}

{% block title %}Одежда{% endblock %}

{% block header %}<h1 align="center">Большой выбор одежды по доступным ценам!!!</h1>{% endblock %}

{% block content %}
<p><strong><h2>В ассортименте магазина есть следующие виды одежды:</h2></strong></p>
  <table style="width:70%", border="1px solid black", align="center">
  <tr>
    <th>Вид</th>
    <th>Категория</th>
    <th>Цена</th>
  </tr>
  <tr>
    <td align="center">Брюки</td>
    <td align="center">Мужские</td>
    <td align="center">1200</td>
  </tr>
  <tr>
    <td align="center">Кофта</td>
    <td align="center">Женская</td>
    <td align="center">1800</td>
  </tr>
  <tr>
    <td align="center">Комбинизон</td>
    <td align="center">Детский</td>
    <td align="center">1500</td>
  </tr>
    <tr>
    <td align="center">Юбка</td>
    <td align="center">Женская</td>
    <td align="center">1300</td>
  </tr>
    <tr>
    <td align="center">Платье</td>
    <td align="center">Детское</td>
    <td align="center">1200</td>
  </tr>
    <tr>
    <td align="center">Джинсы</td>
    <td align="center">Мужские</td>
    <td align="center">1700</td>
  </tr>
    <tr>
    <td align="center">Джемпер</td>
    <td align="center">Мужской</td>
    <td align="center">1800</td>
  </tr>
    <tr>
    <td align="center">Сарафн</td>
    <td align="center">Женский</td>
    <td align="center">1500</td>
  </tr>
    <tr>
    <td align="center">Ползунки</td>
    <td align="center">Детские</td>
    <td align="center">1100</td>
  </tr>
    <tr>
    <td align="center">Футболки</td>
    <td align="center">Unisex</td>
    <td align="center">500</td>
  </tr>
</table>
{% endblock %}


{% block footer %}
<footer>
    <h3>Контактная информация</h3>
    <address>Адрес: 123456, г. Москва, ул. Пушкина, д. 10</address>
    <p>Телефон: +7 (495) 123-45-67<br>Электронная почта: info@example.com</p>
</footer>
{% endblock %}
