{% extends "base.html" %}

{% block title %}Куртки{% endblock %}

{% block header %}<h1 align="center">Большой выбор курток по доступным ценам!!!</h1>{% endblock %}

{% block content %}
<p><strong><h2>В ассортименте магазина есть следующие виды верхней одежды:</h2></strong></p>
  <table style="width:70%", border="1px solid black", align="center">
  <tr>
    <th>Вид</th>
    <th>Категория</th>
    <th>Цена</th>
  </tr>
  <tr>
    <td align="center">Куртка</td>
    <td align="center">Мужская</td>
    <td align="center">5000</td>
  </tr>
  <tr>
    <td align="center">Ветровка</td>
    <td align="center">Женская</td>
    <td align="center">4800</td>
  </tr>
  <tr>
    <td align="center">Пальто</td>
    <td align="center">Детское</td>
    <td align="center">4500</td>
  </tr>
    <tr>
    <td align="center">Куртка</td>
    <td align="center">Детская</td>
    <td align="center">4300</td>
  </tr>
    <tr>
    <td align="center">Ветровка</td>
    <td align="center">Мужская</td>
    <td align="center">4200</td>
  </tr>
    <tr>
    <td align="center">Шуба</td>
    <td align="center">Женская</td>
    <td align="center">9700</td>
  </tr>
    <tr>
    <td align="center">Пальто</td>
    <td align="center">Мужское</td>
    <td align="center">4800</td>
  </tr>
    <tr>
    <td align="center">Дождевик</td>
    <td align="center">Unisex</td>
    <td align="center">3500</td>
  </tr>
    <tr>
    <td align="center">Плащ</td>
    <td align="center">Мужской</td>
    <td align="center">4100</td>
  </tr>
    <tr>
    <td align="center">Плащ</td>
    <td align="center">Женский</td>
    <td align="center">4500</td>
  </tr>
</table>
{% endblock %}


{% block footer %}
<footer>
    <h3>Контактная информация</h3>
    <address>Адрес: 123456, г. Москва, ул. Пушкина, д. 10</address>
    <p>Телефон: +7 (495) 123-45-67<br>Электронная почта: info@example.com</p>
</footer>

{% endblock %}
