{% extends "base.html" %}

{% block title %}Обувь{% endblock %}

{% block header %}<h1 align="center">Большой выбор обуви по доступным ценам!!!</h1>{% endblock %}

{% block content %}
<p><strong><h2>В ассортименте магазина есть следующие виды обуви:</h2></strong></p>
  <table style="width:70%", border="1px solid black", align="center">
  <tr>
    <th>Вид</th>
    <th>Категория</th>
    <th>Цена</th>
  </tr>
  <tr>
    <td align="center">Туфли</td>
    <td align="center">Мужские</td>
    <td align="center">3200</td>
  </tr>
  <tr>
    <td align="center">Кросовки</td>
    <td align="center">Женские</td>
    <td align="center">3800</td>
  </tr>
  <tr>
    <td align="center">Кросовки</td>
    <td align="center">Детские</td>
    <td align="center">2500</td>
  </tr>
    <tr>
    <td align="center">Ботинки</td>
    <td align="center">Детские</td>
    <td align="center">3300</td>
  </tr>
    <tr>
    <td align="center">Полусапожки</td>
    <td align="center">Женские</td>
    <td align="center">3200</td>
  </tr>
    <tr>
    <td align="center">Макасины</td>
    <td align="center">Мужские</td>
    <td align="center">3700</td>
  </tr>
    <tr>
    <td align="center">Туфли</td>
    <td align="center">Женские</td>
    <td align="center">3800</td>
  </tr>
    <tr>
    <td align="center">Сандали</td>
    <td align="center">Детские</td>
    <td align="center">2500</td>
  </tr>
    <tr>
    <td align="center">Кросовки</td>
    <td align="center">Женские</td>
    <td align="center">3100</td>
  </tr>
    <tr>
    <td align="center">Сапоги</td>
    <td align="center">Женские</td>
    <td align="center">3500</td>
  </tr>
</table>
{% endblock %}


{% block footer %}
<footer>
    <h3>Контактная информация</h3>
    <address>Адрес: 123456, г. Москва, ул. Пушкина, д. 10</address>
    <p>Телефон: +7 (495) 123-45-67<br>Электронная почта: info@example.com</p>
</footer>
{% endblock %}
